[run]
branch = False
source =
    ipy2neo
omit =
    */__main__.py
    test/*
    */site-packages/*
    */dist-packages/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    raise NotImplementedError
    if __name__ == .__main__.:

show_missing = True
